#Webserver configuration
listeningport: 25567
listeningportssl: 25568
EnableWebserver: true #This should always be on.
ServerIP: localhost
#Only enable if I ask you to.
debug: false

#DO NOT HAVE BOTH HTML AND PHP AT TRUE AT ONCE!
UseHtml: true
UsePHP: false #PHP file loading is yet to work. Will be soon!
EnableSSL: false #This can be used. but there is no guarantee that it will work.

#Everything is case sensitive.
SSLJKSName: "YourName" #Without the .jks
SSLJKSPass: "Yourpass"
SSLJKSKey: "Yourkey"
###To create an .jks key follow this
# https://docs.oracle.com/cd/E19509-01/820-3503/ggfen/index.html
###Be sure you do it right otherwise it wont work!

#DO NOT IN ANY WAY EDIT THIS
ConfigVersion: 2